# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Node
node_modules/
.next/

# Environment
.env
backend/.env
frontend/.env.local

# Build artifacts
dist/
build/

# Model artifacts
# backend/app/models/*.joblib
backend/app/models/medquad_index/*.pycache
!backend/app/models/medquad_index/.gitkeep
!backend/app/models/medquad_index/index.faiss
!backend/app/models/medquad_index/metadata.json
