MODEL_PATH=./app/models/symptom_classifier.joblib
LABEL_ENCODER_PATH=./app/models/label_encoder.joblib
FAISS_PATH=./app/models/medquad_index
ALLOWED_ORIGINS=http://localhost:3000,https://YOUR-VERCEL-APP.vercel.app
# Set to 'production' or 'development'
APP_ENV=production
