--prefer-binary
fastapi==0.110.0
uvicorn==0.29.0

# Use versions compatible with newer Python
numpy>=1.26.4
scipy>=1.11.4
scikit-learn>=1.4.2

pandas==2.2.2
joblib==1.4.2
sentence-transformers==2.7.0
faiss-cpu==1.7.4
python-dotenv==1.0.1
pydantic==2.6.4
pydantic-settings==2.2.1
fpdf2==2.7.8
